<h1>das ist die aboutpage</h1>

<ul>
  <li>erster punkt</li>
  <li>zweiter punkt </li>
  <li>dritter punkt</li>
  <li>vierter punkt</li>

</ul>

<%= link_to 'home', root_path %>


<%= image_tag 'profile.jpg' %>